.currency-input__top {
    display: flex;
    justify-content: space-between;
}

.currency-input__bottom {
    display: flex;
    justify-content: space-between;
}

.currency-input__currency {
    color: var(--color-gray-6);
    font-size: 32px;
    margin-right: 16px;
}

.currency-input__subtitle,
.currency-input__balance {
    margin-top: 8px;
    color: var(--color-gray-5);
    font-size: 16px;
}

.currency-input__subtitle_error {
    color: var(--color-red)
}