body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  --color-red: #ff3311;
  --color-dark-blue: #2F80ED;
  --color-light-blue: #56CCF2;
  --color-gray-4: #BDBDBD;
  --color-gray-5: #E0E0E0;
  --color-gray-6: #F2F2F2;
}